.navbar {
    background-color: #343A40;
}
.navbar-logo {
    font-size: 20px;
    padding-right: 8px;
}
.jumbotron h1 {
    font-weight: 300;
    font-size: 72px;
}
.jumbotron .btn {
    font-size: 20px;
    padding: 12px 20px;
}
footer {
    background: #F5F5F5;
}